
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', 'sans-serif','noto-serif';
  background-image: url("../media/fram.png");
  background-attachment: fixed;
}
.noto{
  font-family:serif ;
}
.progrm{
  
  height: 10px;
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
  width:100%;
}
.progrs{
 
  height:3px;
  background-color: white;
  
}
.siz{
  font-size: 40px;
  line-height: 48px;
}
.si{
  font-size: 24px;
  line-height: 28px;
}
.ch{
  font-size:85px;
  line-height: 120px;
}
.by{
  font-size: 48px;
  line-height: 56px;
}
.c{
  font-size: 96px;
  line-height: 104px;
}
.ft{
  font-size: 32px;
  line-height: 56px;
}
.nt{
  font-size: 96px;
  line-height: 56px;
}
.th{
  font-size: 36px;
  line-height: 44px;
}
.fou{
  font-size: 40px;
  line-height: 56px;
}