
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', 'sans-serif','noto-serif';
  background-image: url("../media/fram.png");
  background-attachment: fixed;
}
.noto{
  font-family:serif ;
}
.progrm{
  
  height: 10px;
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
  width:100%;
}
.progrs{
 
  height:3px;
  background-color: white;
  
}


